:root {
  /* Neuomorphism Theme */
  --primary-light: #8aff90;
  --primary: #81ff61;
  --primary-dark: #54eb0e;
  --white: #252525;
  --greyLight-1: #171717;
  --greyLight-2: #090909;
  --greyLight-3: #595959;
  --greyDark: #dadada;
  cursor: url("./images/darkmodeCursor.svg"), default;
}
*:link {
  cursor: url("./images/darkModeCursorPointer.png");
}
html {
  color: var(--greyLight-3) !important;
}
.stroke-text {
  text-shadow: none;
}
.border-bottom {
  border-bottom: 2px solid var(--greyLight-3);
  margin-bottom: 1rem;
}
