@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Russo+One&display=swap');
:root {
  /* Neuomorphism Theme */
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  /* Default Themes */
  --primary-bg: ;
  --primary-text: ;

  /* font-size */
  /* FONT SIZES */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* Projects Links Btn */
  --user-button-circle: rgba(0, 0, 0, 0.025);
  --user-button-cardborder: rgba(255, 255, 255, 0.25);
  --user-button-text: #323133;
  --user-button-shadow: rgba(0, 0, 0, 0.1);
}
@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}
*,
::before,
::after,
body {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--greyDark);
  transition: 0.5s;
}
a:hover:not(a.btn, nav li a) {
  text-decoration: underline;
}
i {
  margin-right: 0.5rem;
}
body {
/*   font-family: "Roboto"; */
/*   font-family: Verdana, sans-serif; */
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  color: var(--greyLight-3);
  /* text-shadow: 0 0 1px var(--primary); */
  overflow-x: hidden;
}
img {
  object-fit: cover;
  max-width: 100%;
  display: block;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  bottom: 0;
}

.container {
  width: 80vw;
  margin-inline: auto;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2),
    -0.2rem -0.2rem 1.8rem var(--white);
  margin-block: 2rem;
  border-radius: 1rem;
  padding-inline: 3rem;
}

/* Utilities */

.container-title {
  position: relative;
  font-size: calc(var(--fs-600) + 0.5rem);
  padding-top: 2rem;
}
.container-title:before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  color: var(--primary-light);
  margin-right: 1rem;
}
.primary--bg {
  background: var(--greyLight-1);
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.relative {
  position: relative;
}
.text-center {
  text-align: center;
}
.stroke-text {
  text-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2);
  color: var(--primary);
}
.m-0 {
  margin: 0;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}
.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}
.pad-2 {
  padding-inline: 2rem;
}

/* Colors */
.primary-text {
  color: var(--primary);
}

.border-bottom {
  border-bottom: 2px solid var(--greyLight-2);
  margin-bottom: 1rem;
}
.boxShadow-primary {
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
}
/* Design Structures */

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 6ch;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url("https://i.ibb.co/FxzBYR9/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

main.container {
  min-height: 90vh;
}
nav {
  position: relative;
  justify-content: space-between;
  padding-inline: 1rem;
  align-items: center;
}
.nav {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.nav li a {
  text-decoration: none;
  color: var(--greyDark);
  display: block;
  text-align: center;
  position: relative;
  padding: 1rem;
}
.nav {
  --gap: 1rem;
  gap: var(--gap);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  padding-inline: 4rem;
}
.segment--box {
  position: absolute;
  inset: 0;
  /*   padding: 2rem; */
  border-radius: 0.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
  z-index: -1;
}

.nav li:hover a {
  color: var(--primary);
}
.circle-icon {
  height: 2em;
  aspect-ratio: 1;
  background: var(--primary);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 50%;
}
.profile-container p {
  font-size: 120%;
}
.profile-img {
  width: 12rem;
  padding: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 50%;
  margin-inline: auto;
}
.mobile-nav-toggle {
  display: none;
}
.nav[data-visible="true"] {
  transform: translateX(0);
}

.social-icons {
  display: flex;
  --gap: 3rem;
  justify-content: center;
  gap: var(--gap);
  font-size: var(--fs-600);
}
.social-icons a {
  display: block;
  transition: color 200ms ease-in-out;
  font-size: 2rem;
  animation: jumpBack 500ms cubic-bezier(0.52, -0.16, 1, 1.24) 1 forwards 2s;
  transform: translate(-120px, -120px) rotate(-45deg);
  opacity: 0;
}

.social-icons a:first-child {
  animation-delay: 500ms;
}
.social-icons a:nth-child(2) {
  animation-delay: 1s;
}
.social-icons a:nth-child(3) {
  animation-delay: 1.5s;
}
.social-icons a:nth-child(4) {
  animation-delay: 2s;
}

@keyframes jumpBack {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.social-icons a:hover {
  color: var(--primary);
  transform: rotate(25deg) !important;
}

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.scroller > span {
  position: absolute;
  inset: 0;
  animation: slide 5s infinite;
  font-weight: bold;
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

/* About Me Section */

.wave {
  display: inline-block;
  vertical-align: 2px;
  margin-right: 7px;
  animation: wave 1s ease-in-out infinite alternate;
  transform-origin: 100% 100%;
  font-size: 1.5em;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}

.skill-list {
  --gap: 3rem;
  flex-wrap: wrap;
  margin-inline: auto;
  width: max-content;
  padding-block: 2rem;
}
.skill-list span {
  display: block;
}
.skill-list span > i {
  color: var(--primary);
  font-size: var(--fs-600);
}

/* Projects */
#projects,
#contact {
  padding-bottom: 2rem;
}
#projects a.btn {
  margin-top: 2rem;
}
#projects .flex {
  justify-content: center;
  align-items: center;
  width: 100%;
}
.credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}
.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}
@media screen and (max-width: 718px) {
  .options {
    min-width: 520px;
  }
  .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  .options {
    min-width: 440px;
  }
  .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  .options {
    min-width: 360px;
  }
  .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  .options {
    min-width: 280px;
  }
  .options .option:nth-child(2) {
    display: none;
  }
}
.options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.options .option:nth-child(1) {
  --defaultBackground: #ed5565;
}
.options .option:nth-child(2) {
  --defaultBackground: #fc6e51;
}
.options .option:nth-child(3) {
  --defaultBackground: #ffce54;
}
.options .option:nth-child(4) {
  --defaultBackground: #2ecc71;
}
.options .option:nth-child(5) {
  --defaultBackground: #5d9cec;
}
.options .option:nth-child(6) {
  --defaultBackground: #ac92ec;
}
.options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: cover;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2),
    -0.2rem -0.2rem 1.8rem var(--white);
  border: 4px solid var(--greyLight-2);
}
.options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black,
    inset 0 -120px 120px -100px black;
}
.options .option.active .label {
  bottom: 20px;
  left: 20px;
}
.options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
.options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
.options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
.options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
.options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.options .option .label {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.options .option .label .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: white;
}
.options .option .label .icon a {
  color: var(--primary);
  display: block;
  text-align: center;
  margin-left: 0.5rem;
}
.options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
.options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
.options .option .label .info .sub {
  transition-delay: 0.1s;
}
/* Contact Me  */

#contact form {
  flex-direction: column;
  width: 50%;
  margin-inline: auto;
  margin-block: 2rem;
}
.contact-info p {
  font-size: var(--fs-200);
}
.contact-info p i {
  margin-right: 1rem;
  color: var(--primary);
}
form input[type="text"],
form input[type="email"],
textarea {
  border: none;
  border-radius: 1rem;
  font-size: 1.1rem;
  padding: 1rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
}
textarea {
  resize: vertical;
}
.btn {
  width: max-content;
  margin-block: 1rem;
  outline: none;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: inherit;
  margin-inline: auto;
}
#contact form .btn {
  width: 100%;
}
.btn__primary {
  grid-column: 1/2;
  grid-row: 4/5;
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light),
    inset -0.2rem -0.2rem 1rem var(--primary-dark),
    0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
}
.btn__primary:hover {
  color: var(--white);
}
.btn__primary:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark),
    inset -0.2rem -0.2rem 1rem var(--primary-light);
}
.down {
  display: inline-block;
  font-weight: bolder;
  animation: top-down 700ms ease-in-out infinite alternate;
}
@keyframes top-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.main-footer {
  color: var(--primary-dark);
}

/* Tablet Screen */
@media (max-width: 45rem) {
  nav {
    position: sticky;
    top: 0;
    background: var(--greyLight-1);
    z-index: 100;
    padding-block: 1rem;
  }
  .nav {
    position: fixed;
    top: -10px;
    right: 0;
    background: var(--greyLight-1);
    transform: translateX(200%);
    flex-direction: column;
    width: 80%;
    height: 100vh;
    align-items: start;
    justify-content: start;
    padding: 4rem 2rem 2rem 2rem;
    transition: transform 500ms ease-in-out;
    z-index: 90;
  }
  .nav li {
    width: 100%;
  }
  .mobile-nav-toggle {
    display: block;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url(./images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
    cursor: pointer;
    z-index: 100;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./images/icon-close.svg);
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
}

/* Mobile Screen */
@media (max-width: 35rem) {
  main.container {
    padding: 0;
  }
  .container {
    width: 100vw;
    margin: 0;
  }
  .pad-2 {
    padding-inline: 0rem;
  }
  .main-title {
    margin: 2rem;
    font-size: var(--fs-700);
  }
  nav {
    padding-block: 0rem;
  }

  .scroller {
    font-size: calc(var(--fs-600) - .5rem);
  }
  .circle-icon {
    margin: 1rem;
  }

  .social-icons {
    font-size: calc(var(--fs-600) + 1rem);
  }
  .skill-list {
    --gap: 2.2rem;
  }

  .skill-list span > i {
    font-size: calc(var(--fs-700) - 0.2rem);
  }

  /* Contact Me */
  #contact form {
    width: 100%;
  }
}

/* Scrool Animations  */
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 500ms ease-in;
}
.active.fade-left {
  animation: fade-left 500ms ease-in;
}
.active.fade-right {
  animation: fade-right 500ms ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
